In [1]:
import pandas as pd

In [8]:
df= pd.read_csv('CENTRALVALLEY_NO3N_conc_0_updated_zipcoded.csv')

df['GM_SAMP_COLLECTION_DATE'] = pd.to_datetime(df['GM_SAMP_COLLECTION_DATE'])

# Extract year from GM_SAMP_COLLECTION_DATE
df['Year'] = df['GM_SAMP_COLLECTION_DATE'].dt.year

all_zipcodes = df['Zipcode'].unique()

years=df['Year'].unique()

In [17]:
agg_df = df.groupby(['Zipcode', 'Year'])['GM_RESULT'].agg(['sum']).reset_index()
pivot_max = agg_df.pivot(index='Zipcode', columns='Year', values='sum')     
pivot_max
    # max_concs+=[temp_df['GM_RESULT'].max()]
    # mean_concs+=[temp_df['GM_RESULT'].mean()]
    # wells_num+=[len(temp_df)]

Year,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Zipcode,,,,,,,,,,,,,,,,,,,,,
93201,48.406,0.813,471.784,NaN,NaN,NaN,0.0000,0.00,0.000,0.000,...,0.5000,0.500,1.691,0.800,NaN,2.000,1.200,1.057,0.630,0.230
93202,NaN,NaN,NaN,NaN,0.00,NaN,NaN,0.00,NaN,NaN,...,0.5000,0.500,1.000,0.400,0.400,0.800,0.400,NaN,NaN,NaN
93203,6.300,12.810,104.790,350.83,496.80,653.480,81.0000,145.05,131.812,450.200,...,376.8324,767.260,733.700,882.876,674.409,705.420,897.650,776.790,746.246,548.219
93204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.400,NaN,NaN,NaN
93206,2.280,0.180,NaN,NaN,NaN,47.070,0.2700,5.90,16.300,13.980,...,89.1020,52.290,96.230,142.180,74.437,134.388,93.041,115.800,193.335,19.640
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96074,0.400,NaN,NaN,NaN,NaN,1.000,NaN,NaN,NaN,NaN,...,1.0000,0.500,0.300,0.200,0.800,0.400,0.400,0.400,0.400,NaN
96080,NaN,NaN,20.452,2.00,NaN,68.937,49.0720,11.70,19.540,81.894,...,554.0300,315.481,322.991,193.850,274.486,258.802,376.444,264.350,243.880,235.126
96088,0.000,0.909,1.612,NaN,0.15,0.000,3.8645,0.00,3.300,5.600,...,26.8970,22.370,20.628,22.110,22.900,18.960,20.480,18.190,11.990,10.710
96090,0.200,NaN,NaN,1.74,0.47,0.500,NaN,NaN,NaN,1.000,...,2.4000,2.360,2.200,2.200,2.800,2.300,1.300,1.900,1.900,2.500
96092,NaN,NaN,0.200,NaN,NaN,2.300,2.3000,6.70,2.900,3.890,...,13.0200,2.130,1.430,1.600,1.600,1.800,0.447,1.700,1.600,1.300

In [18]:
pivot_max.to_csv('aggregated_nitrate_concentrations_by_zipcode_year.csv')