In [41]:
import pandas as pd

In [46]:
df= pd.read_csv('CENTRALVALLEY_NO3N_conc_0_updated_zipcoded.csv')


all_zipcodes = df['Zipcode'].unique()

max_concs=[]
mean_concs=[]

max_concs_dom=[]
mean_concs_dom=[]

max_concs_mun=[]
mean_concs_mun=[]

wells_num=[]
wells_num_dom=[]
wells_num_mun=[]


for  zipcode in all_zipcodes:
    temp_df= df[df['Zipcode']==zipcode]
    max_concs+=[temp_df['GM_RESULT'].max()]
    mean_concs+=[temp_df['GM_RESULT'].mean()]
    wells_num+=[len(temp_df)]
    
    temp_df_dom=temp_df[temp_df['GM_WELL_CATEGORY']=='Domestic']
    max_concs_dom+=[temp_df_dom['GM_RESULT'].max()]
    mean_concs_dom+=[temp_df_dom['GM_RESULT'].mean()]
    wells_num_dom+=[len(temp_df_dom)]
    
    temp_df_mun=temp_df[temp_df['GM_WELL_CATEGORY']=='Municipal']
    max_concs_mun+=[temp_df_mun['GM_RESULT'].max()]
    mean_concs_mun+=[temp_df_mun['GM_RESULT'].mean()]
    wells_num_mun+=[len(temp_df_mun)]

In [43]:
df['GM_WELL_CATEGORY'].unique()

array(['Domestic', 'Municipal', 'Water Supply, Other'], dtype=object)

In [45]:
df_output=pd.DataFrame.from_dict({'Zipcode':all_zipcodes,
                                  'Mean Concentrations':mean_concs,
                                  'Max Concentrations': max_concs,
                                 'Mean Concs Domestic': mean_concs_dom,
                                 'Max Concs Domestic': max_concs_dom,
                                 'Mean Concs Municipal': mean_concs_mun,
                                 'Max Concs Municipal': max_concs_mun,
                                 'Number Wells': wells_num,
                                 'Number Wells Domestic': wells_num_dom,
                                 'Number Wells Municipal': wells_num_mun})
df_output

,Zipcode,Mean Concentrations,Max Concentrations,Mean Concs Domestic,Max Concs Domestic,Mean Concs Municipal,Max Concs Municipal,Number Wells,Number Wells Domestic,Number Wells Municipal
0,96035,2.811478,16.90,2.344000,3.47,2.716193,16.90,207,5,171
1,95674,3.956280,26.60,11.562500,26.60,1.221375,1.79,50,4,32
2,95988,4.063457,17.80,0.140000,0.14,4.324076,17.80,918,1,822
3,95220,3.261438,21.70,2.606644,17.40,3.081606,11.20,578,87,469
4,96055,2.371936,22.10,2.020500,7.50,2.429776,11.00,500,80,389
...,...,...,...,...,...,...,...,...,...,...
328,95835,0.000000,0.00,NaN,NaN,NaN,NaN,3,0,0
329,95762,3.626200,12.50,2.619000,11.00,NaN,NaN,10,8,0
330,95043,1.100000,1.10,NaN,NaN,1.100000,1.10,1,0,1
331,93461,16.446667,34.00,7.670000,7.67,NaN,NaN,3,1,0
332,95974,4.193333,8.11,NaN,NaN,NaN,NaN,6,0,0

In [48]:
df_output.to_csv('well_concentrations_max_mean.csv', index=False)