In [3]:
import geopandas as gpd
import pandas as pd

data= gpd.read_file('ZCTA2010.shp')

data.columns

Index(['OBJECTID', 'CNTY_FIPS', 'COUNTY', 'TRACT', 'TRACT_ID', 'CENSUS_KEY',
       'ZCTA', 'ZCTA_KEY', 'LATITUDE', 'LONGITUDE', 'TOT_POP', 'AGE_UNDER5',
       'AGE_5TO9', 'AGE_10TO14', 'AGE_15TO19', 'AGE_20TO24', 'AGE_25TO29',
       'AGE_30TO34', 'AGE_35TO39', 'AGE_40TO44', 'AGE_45TO49', 'AGE_50TO54',
       'AGE_55TO59', 'AGE_60TO64', 'AGE_65TO69', 'AGE_70TO74', 'AGE_75TO79',
       'AGE_80TO84', 'AGE_85_OVE', 'AGE16_OVER', 'AGE18_OVER', 'AGE21_OVER',
       'AGE62_OVER', 'AGE65_OVER', 'MALE', 'FEMALE', 'AGE_MEDIAN',
       'AGE_MEDI_1', 'AGE_MEDI_2', 'ONE_RACE', 'WHITE', 'BLACK_AFAM',
       'AMIND_ALAN', 'ASIAN', 'NATHAW_ISL', 'OTHER_RACE', 'MULTI_RACE',
       'HISPANIC_L', 'NON_HISP_L', 'WHITE_NHL', 'BLACK_AF_1', 'AMIND_AL_1',
       'ASIAN_NHL', 'NATHAW_I_1', 'OTHER_NHL', 'MULTI_RA_1', 'TOT_IN_HOU',
       'TOT_IN_GC', 'GC_INST', 'GC_NONINST', 'GC_CORRECT', 'GC_JUV', 'GC_NURS',
       'GC_OTHER', 'HH_TOTAL', 'HH_FAMILY', 'HH_NONFAML', 'HH_NONFAMI',
       'HH_NONFA_1', 'HH_NONFA_2', 'HH_NONFA_3', 'HH_NONFA_4', 'HH_WITH_UN',
       'HH_WITH_65', 'HU_TOTAL', 'HU_OCC', 'HU_VAC', 'HU_VAC_REN',
       'HU_VAC_SEA', 'HU_OCC_OWN', 'HU_OCC_O_1', 'HU_OCC_REN', 'HU_OCC_R_1',
       'Shape_area', 'Shape_len', 'geometry'],
      dtype='object')

In [4]:
len(data)

1769

In [5]:
zipcodes= data['ZCTA']
urban = ((data['TOT_POP']/(data['geometry'].area * 3.86102e-7))>500)
df= pd.DataFrame.from_dict({'Zipcode':zipcodes, 'Urban':urban})
df.to_csv('urban_rural_zipcode.csv', index= False)

# number of square miles per county

In [7]:
#Urban has more than 500 people per square mile
df.head()

  Zipcode  Urban
0   94601   True
1   94501   True
2   94560   True
3   94587   True
4   94580   True